{
  "PlanningCenterClient": {
    "ApiBaseAddress": "https://api.planningcenteronline.com",
    "UserAgent": "Crews.PlanningCenter.Api Integration Tests",
    "PersonalAccessToken": {
      "AppId": "your-app-id-here",
      "Secret": "your-secret-here"
    }
  }
}
